/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    background-color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* le doy estilo al titulo principal y texto */
/* ------------------------------------------------------------------------------------------------------------------------- */

#principal .titulo-principal {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 40px;
    font-weight: 400;
    /* font-style: italic; */
    text-align: center;
    line-height: 2;
    letter-spacing: 10px;
    color: rgb(211, 226, 0);
    background-color: black; 
}

#principal .texto-principal {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 30px;
    font-weight: 400;
    /* font-style: italic; */
    text-align: center;
    line-height: 2;
    letter-spacing: 10px;
    color: rgb(114, 90, 90);
    background-color: black;  
}

/* -------------------------------------------------------------------------------------------------------- */
/* le doy estilo a la seccion dentro de la pagina "KnownOrigin" que muestra un titulo y un video de youtube */
/* -------------------------------------------------------------------------------------------------------- */

#knownorigin .titulo-secundario {
    background-color: rgb(0, 0, 0);
    color: brown;
    font-size: 30px;
    padding: 20px;
    gap: 5px 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-style: italic;
    text-align: center;
}
#knownorigin .titulo-tarjetas {
    background-color: rgb(0, 0, 0);
    color: brown;
    font-size: 22px;
    padding: 20px;
    gap: 5px 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-style: italic;
    text-align: center;
}
#knownorigin .texto-tarjeta {
    background-color: rgb(0, 0, 0);
    color: rgb(68, 59, 59);
    font-size: 18px;
    padding: 10px;
    gap: 5px 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-style: italic; */
    text-align: center;
}

/* --------------------------- */
/* estilo al texto de footer */
/* --------------------------- */
#footer p {
    color: brown;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    line-height: 2;
    padding: 10px;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:400px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:25%;
    top:0;
    height:90%;
    width:70%;
    position:absolute;
}
